* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: beige; */
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/natural-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin-bottom: 24px;
  position: relative;
}

.page {
  width: 1000px;
  margin: 20px auto;
}

.header-top {
  height: 300px;
  position: relative;
  border: 8px solid white;
  background-image: url("../img/natural-header.jpg");
  background-size: cover;
  background-position: center;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.container-logo img {
  width: 60%;
}

.container-logo h2 {
  font-size: 20px;
}

.header-bottom {
  height: 50px;
  line-height: 50px;
  background-color: #666666;
}

.header-bottom nav ul {
  list-style: none;
  text-align: center;
}

.header-bottom nav ul li {
  display: inline-block;
}

.header-bottom nav ul li a {
  display: inline-block;
  padding: 0 5px;
  color: white;
  border-right: 1px solid #2a2623;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.header-bottom nav ul li:last-child a {
  border: 0;
}

.header-bottom nav ul li a:hover {
  background-color: lightgrey;
}

main {
  margin-bottom: 24px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 3px;
}

.col-left {
  width: 20%;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.list-style-none {
  list-style: none;
}

.menu li {
  margin-bottom: 5px;
  font-size: 14px;
}

.menu li a {
  text-decoration: none;
  color: green;
}

.menu li a:hover {
  text-decoration: underline;
}

.col-left-header::after {
  content: "";
  display: table;
  clear: both;
}

.col-left-header {
  margin-bottom: 10px;
}

.col-left-header i,
.col-left-header h3 {
  float: left;
}

.col-left-header i {
  color: orange;
  margin-right: 5px;
  font-size: 20px;
}

.col-left-header h3 {
  width: 60%;
}

.col-center {
  width: 50%;
  margin: 0 5%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.col-center .title {
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #363636;
}

p {
  line-height: 24px;
  font-size: 15px;
}

footer {
  background-color: yellow;
  height: 250px;
}

.col-center {
  width: 50%;
  margin: 0 5%;
  background-color: #fff;
}

.col-right {
  width: 20%;
}

.col-right .widget {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.col-right .widget h3 {
  margin-bottom: 20px;
  font-weight: 400;
  text-shadow: 2px 2px 4px #363636;
}
